.header_container {
  position: relative;
  background: rgb(70, 81, 91);
  background: linear-gradient(
    270deg,
    rgb(17, 29, 28) 0%,
    rgba(19, 20, 22, 1) 100%
  );
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 14px 16px -4px rgba(0, 0, 0, 0.659);
  z-index: 1;

  .logo {
    display: flex;
    align-items: center;
    padding: 0 10px;

    a {
      color: var(--clr-primary-400);
      text-decoration: none;
    }
  }

  nav {
    display: flex;
    align-items: center;

    .menu_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 5px;
      border: none;
      background-color: var(--clr-light);
      cursor: pointer;
      transition: all 0.1s ease-in-out;

      .menu_icon {
        color: var(--clr-dark);
        font-size: 1.5rem;
      }

      &:hover {
        background-color: var(--clr-lighter);

        .menu_icon {
          color: var(--clr-darker);
        }
      }

      &:active {
        background-color: gray;
        transform: scale(0.97);

        .menu_icon {
          color: rgb(42, 42, 42);
          transform: scale(0.97);
        }
      }
    }
  }
}
