@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    color: $clr-lighter;
  }

  p {
    color: $clr-light;
    margin-top: 20px;

    b {
      font-size: large;
    }
  }

  form {
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;

    label {
      color: $clr-light;
      padding: 10px 0;
    }

    input {
      @include input();
    }

    button {
      @include btn();
      margin-top: 10px;
      background-color: transparent;
      border-color: $clr-primary-800;
      color: $clr-light;
    }
  }
}
