@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    color: $clr-lighter;
  }

  p {
    color: $clr-light;
    margin-top: 20px;

    b {
      font-size: large;
    }
  }

  form {
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;

    label {
      color: $clr-light;
      padding: 10px 0;
    }

    input {
      @include input();
    }

    button {
      @include btn();
      margin-top: 10px;
      background-color: transparent;
      border-color: $clr-primary-800;
      color: $clr-light;
    }
  }

  .go_back_wrapper {
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .go_back {
      display: flex;
      align-items: center;
      cursor: pointer;

      .icon {
        margin-right: 5px;
        opacity: 0;
        color: $clr-primary-600;
        transform: translateX(6px);
        transition: all 0.2s ease-in-out;
      }

      span {
        color: $clr-light;
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        .icon {
          opacity: 1;
          transform: translateX(0);
        }

        span {
          color: $clr-lighter;
          transform: translateX(3px);
        }
      }
    }
  }
}
