@use "../../../styles/mixins" as *;

.social_auth {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    @include btn();
    width: 70%;
    margin: 10px 0;
    background-color: var(--clr-light);
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      font-size: 1.5rem;
      margin-right: 10px;
      color: rgb(55, 132, 221);
    }
  }

  @media (max-width: 900px) {
    width: 100%;

    button {
      width: 350px;
    }
  }

  @media (max-width: 600px) {
    width: 100%;

    button {
      width: 240px;
      height: 35px;
      margin: 6px 0;

      .icon {
        font-size: 1.2rem;
      }

      span {
        font-size: 0.8rem;
      }
    }
  }

  @media (max-width: 330px) {
    button {
      width: 200px;
      height: 35px;
      margin: 6px 0;

      .icon {
        font-size: 1rem;
      }

      span {
        font-size: 0.6rem;
      }
    }
  }
}
