@use "../../../styles/mixins" as *;

.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: relative;

  .error {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-danger-400);
    color: var(--clr-light);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  h2 {
    color: var(--clr-light);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px black;
    text-transform: capitalize;

    @media (max-width: 600px) {
      font-size: 1.5rem;
    }
  }

  .local_auth {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .choose_avatar_wrapper,
    .choose_avatar_wrapper_error {
      position: relative;
      border: 2px dashed var(--clr-light);
      width: 150px;
      height: 150px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.1s ease-in-out;

      .choose_avatar {
        width: 95%;
        height: 95%;
        border-radius: 50%;

        button {
          background-color: aliceblue;
          width: 100%;
          height: 100%;
          border: none;
          outline: none;
          background-color: transparent;
          border-radius: 50%;
          transition: all 0.1s ease-in-out;

          .choose {
            display: flex;
            flex-direction: column;
            align-items: center;

            .icon {
              font-size: 2rem;
              color: var(--clr-light);
              transition: all 0.1s ease-in-out;
            }

            span {
              font-size: 1.1rem;
              color: var(--clr-light);
              margin-top: 10px;
              transition: all 0.1s ease-in-out;
            }
          }

          .image {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.5);
            transition: all 0.1s ease-in-out;

            img {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              object-fit: cover;
            }
          }

          &:hover {
            background-color: var(--clr-primary-faded);

            .choose {
              .icon {
                color: var(--clr-primary-600);
              }

              span {
                color: var(--clr-primary-600);
              }
            }
          }

          &:active {
            background-color: rgba(48, 48, 48, 0.303);
            scale: 0.95;

            .choose {
              .icon {
                color: var(--clr-primary-faded);
              }

              span {
                color: var(--clr-primary-faded);
              }
            }
          }
        }
      }

      &:hover {
        border-color: var(--clr-primary-600);
      }

      @media (max-width: 600px) {
        width: 100px;
        height: 100px;

        .choose_avatar {
          button {
            .choose {
              .icon {
                font-size: 1.5rem;
              }

              span {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }

    .choose_avatar_wrapper_error {
      border-color: var(--clr-danger-400);

      .choose_avatar {
        button {
          .choose {
            .icon,
            span {
              color: var(--clr-danger-400);
            }
          }
        }
      }

      &:hover {
        border-color: var(--clr-danger-800);

        .choose_avatar {
          button {
            .choose {
              .icon,
              span {
                color: var(--clr-danger-800);
              }
            }
          }
        }
      }
    }

    form {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      margin-top: 80px;

      input {
        @include input();
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }

      .input_wrapper {
        width: 100%;
        position: relative;

        .password_input {
          width: 100%;
        }

        .icon {
          position: absolute;
          top: 0;
          right: 0;
          width: 40px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.6rem;
          margin-left: 10px;
          color: var(--clr-light);
          transition: all 0.1s ease-in-out;
          cursor: pointer;

          &:hover {
            color: var(--clr-primary-400);
          }
        }
      }

      button {
        @include btn();
        margin-top: 20px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      a {
        width: flex;
        text-decoration: none;
        color: var(--clr-light);
        align-self: flex-end;
        width: fit-content;
        margin-top: 30px;
        text-align: right;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &:hover {
          color: var(--clr-primary-600);
          text-decoration: underline;
        }
      }

      @media (max-width: 600px) {
        width: 100%;
        margin-top: 30px;

        input {
          height: 35px;
          font-size: 0.6rem;
          border-width: 1px;
        }

        .input_wrapper {
          .icon {
            height: 35px;
            font-size: 1.2rem;
          }
        }

        button {
          height: 35px;
          width: 200px;
          font-size: 0.8rem;
          align-self: center;
          margin-top: 10px;
        }

        a {
          font-size: 0.8rem;
          margin-top: 20px;
        }
      }
    }
  }

  .divider {
    width: 80%;
    margin: 50px auto;
    display: flex;
    align-items: center;

    .line {
      flex: 1;
      height: 2px;
      background-color: var(--clr-light-faded);
      margin: auto;
    }

    span {
      font-size: 1.3rem;
      text-transform: uppercase;
      margin: 0 10px;
      color: var(--clr-light);
    }

    @media (max-width: 600px) {
      width: 100%;
      margin: 20px auto;

      span {
        font-size: 0.9rem;
      }
    }
  }

  .signup {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 20px;

    p {
      color: var(--clr-light);
      margin-right: 10px;
    }

    span {
      color: var(--clr-light);
      cursor: pointer;
      text-decoration: none;
      transition: all 0.1s ease-in-out;

      &:hover {
        color: var(--clr-primary-600);
        text-decoration: underline;
      }
    }

    @media (max-width: 600px) {
      margin-top: 30px;

      p {
        font-size: 0.8rem;
      }

      span {
        font-size: 0.9rem;
      }
    }

    @media (max-width: 330px) {
      margin-top: 30px;

      p {
        font-size: 0.6rem;
      }

      span {
        font-size: 0.8rem;
      }
    }
  }
}
