.bg {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    background: #fff;
    border-radius: 8px;
    padding: 0 30px 40px 30px;
    width: 800px;
    position: absolute;

    .warning {
      position: absolute;
      left: 0;
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 5px 0 0 10px;

      .info_icon {
        font-size: 1.5rem;
        color: var(--clr-warning-600);
      }

      small {
        color: var(--clr-warning-600);
        font-size: 0.9rem;
      }
    }

    h2 {
      text-align: center;
      margin: 20px 0;
    }

    .ads {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      justify-items: center;
      margin-top: 20px;

      .ad {
        width: 100%;
        height: 200px;
        border: 3px solid var(--clr-primary-600);
        border-top-width: 5px;
        border-left-width: 8px;
        border-right-width: 8px;
        border-radius: 20px;
        box-shadow: 0 8px 8px -4px var(--clr-primary-400);
        background-color: var(--clr-primary-faded);
        transition: all 0.2s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 1.5rem;
        color: var(--clr-dark);

        .ad_reward {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-top: 10px;

          .coin_image {
            width: 60px;
            height: 60px;
          }
        }

        .play_btn {
          background-color: transparent;
          border: none;
          border-radius: 5px 10px;
          background-color: var(--clr-primary-600);
          padding: 5px 10px;
          color: var(--clr-lighter);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.2rem;
          cursor: pointer;
          transition: all 0.1s ease;
          box-shadow: 0 4px 6px -2px var(--clr-primary-400);

          .play_icon {
            margin-left: 5px;
            font-size: 1.8rem;
            transition: all 0.1s ease;
          }

          &:hover {
            color: var(--clr-primary-200);
            background-color: var(--clr-primary-800);
          }

          &:active {
            color: rgb(196, 196, 196);
            transform: scale(0.97);
            box-shadow: 0 2px 4px -1px var(--clr-primary-400);
          }
        }

        &:hover {
          border-color: var(--clr-primary-400);
          box-shadow: 0 12px 12px -6px var(--clr-primary-600);
          transform: translateY(-5px);
        }
      }
    }

    .close_btn {
      position: absolute;
      top: 0;
      right: 0;
      color: var(--clr-dark);
      background-color: transparent;
      border: none;
      font-size: 2rem;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        color: var(--clr-danger-600);
      }

      &:active {
        color: rgba(70, 70, 70, 0.563);
        transform: scale(0.9);
      }
    }
  }
}
