@use "./styles/mixins" as *;

.container {
  width: 100%;

  .cards {
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;

    a {
      text-decoration: none;
    }

    .card {
      @include bgColor();
      position: relative;
      width: 500px;
      height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      box-shadow: 3px 3px 10px rgba(9, 9, 9, 0.498);
      transition: all 0.1s ease-in-out;

      h3 {
        margin-top: 20px;
        font-size: 1.5rem;
        color: var(--clr-light);
      }

      .info_btn {
        position: absolute;
        top: 10px;
        right: 10px;
        border: none;
        outline: none;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background-color: transparent;
        color: rgb(151, 151, 151);
        font-size: 1.4rem;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
      }

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 15px rgba(9, 9, 9, 0.752);

        .info_btn {
          color: var(--clr-lighter);
          font-size: 1.7rem;
        }
      }
    }

    .card_fill {
      .image {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        object-fit: cover;
      }

      h3 {
        position: absolute;
        bottom: 10px;
        color: var(--clr-light);
      }
    }
  }
}
