@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.container {
  @include bgColor();
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 0 15px black;

  .text_one {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      color: $clr-danger-200;
      font-size: 1.5rem;
      margin-right: 10px;
    }

    h1 {
      font-size: 2.5rem;
      color: $clr-danger-400;
    }
  }

  .text_two {
    margin-top: 50px;

    p {
      color: $clr-warning-200;
      font-size: large;

      .icon {
        margin-right: 10px;
        font-size: 1.3rem;
        color: $clr-warning-400;
      }
    }

    small {
      display: block;
      margin-top: 10px;
      color: $clr-light;
    }

    .go_back {
      margin-top: 30px;
      display: flex;
      width: fit-content;
      align-items: center;
      cursor: pointer;

      .icon {
        color: $clr-primary-600;
        font-size: 1.3rem;
        margin-right: 6px;
        opacity: 0;
        transform: translateX(6px);
        transition: all 0.2s ease-in-out;
      }

      a {
        text-decoration: none;
        color: $clr-light;
        font-size: small;
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        .icon {
          opacity: 1;
          transform: translateX(0);
        }

        a {
          transform: translateX(6px);
        }
      }
    }
  }
}
