@use "../../styles/mixins" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(67, 67, 67);
  padding: 0 10px 10px 10px;
  margin-top: 100px;

  .col1 {
    display: flex;
    align-items: center;

    .divider {
      width: 1px;
      height: 20px;
      background-color: rgb(96, 96, 96);
      margin: 0 12px 0 20px;
    }

    .item {
      display: flex;
      align-items: center;

      .indicator {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--clr-success-400);
        box-shadow: 0 0 5px var(--clr-success-400);
      }

      .icon {
        color: var(--clr-primary-200);
        font-size: 1.5rem;
        margin-left: 8px;
      }

      small {
        color: var(--clr-light);
        font-size: 0.4rem;
        margin-left: 5px;
        margin-top: 10px;
      }

      b {
        color: var(--clr-lighter);
        margin-left: 7px;
      }
    }

    @media (max-width: 500px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      .divider {
        display: none;
      }

      .item {
        margin: 5px 0;
        position: relative;

        .indicator {
          position: absolute;
          top: 0;
          left: 35%;
          width: 8px;
          height: 8px;
        }

        b {
          font-size: small;
          margin-left: 5px;
        }
      }
    }
  }

  .col2 {
    display: flex;
    align-items: center;

    .search_bar {
      display: flex;
      align-items: center;
      background-color: rgb(59, 59, 59);
      border-radius: 5px;
      padding: 5px 0 5px 10px;
      margin-right: 20px;
      box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.839);

      input {
        background-color: transparent;
        border: none;
        color: var(--clr-light);
        outline: none;
        width: 150px;
        transition: all 0.1s ease-in-out;

        &::placeholder {
          color: rgb(146, 146, 146);
          opacity: 0.7;
        }
      }

      .search_icon {
        color: var(--clr-light);
        font-size: 1.2rem;
        width: 30px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .create_btn {
      @include btn();
      display: flex;
      align-items: center;
      background-color: transparent;
      border: 2px solid var(--clr-primary-800);
      padding: 0 10px;

      .icon {
        color: var(--clr-primary-800);
      }

      span {
        color: var(--clr-primary-800);
        font-size: small;
        margin-left: 5px;
      }

      &:hover {
        background-color: var(--clr-primary-faded);
        border-color: var(--clr-primary-600);

        .icon,
        span {
          color: var(--clr-primary-600);
        }
      }
    }

    @media (max-width: 700px) {
      .create_btn {
        border-radius: 50%;
        border-width: 1px;
        width: 40px;
        height: 40px;

        .icon {
          font-size: 1.5rem;
        }

        span {
          display: none;
        }
      }
    }

    @media (max-width: 600px) {
      .search_bar {
        margin-right: 10px;

        input {
          width: 80px;
          font-size: 0.7rem;
        }

        .search_icon {
          font-size: 1rem;
          width: 20px;
        }
      }

      .create_btn {
        border-radius: 50%;
        border-width: 1px;
        width: 30px;
        height: 30px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          font-size: 1rem;
        }
      }
    }
  }
}
