.go_back_wrapper {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .go_back {
    display: flex;
    align-items: center;
    cursor: pointer;

    .icon {
      margin-right: 5px;
      margin-top: 2px;
      opacity: 0;
      color: var(--clr-primary-600);
      transform: translateX(6px);
      transition: all 0.2s ease-in-out;
    }

    a {
      text-decoration: none;
      color: var(--clr-light);
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      .icon {
        opacity: 1;
        transform: translateX(0);
      }

      a {
        color: var(--clr-lighter);
        transform: translateX(3px);
      }
    }
  }
}
