.footer {
  position: static;
  left: auto;
  bottom: auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  margin-top: auto;

  @media (max-width: 900px) {
    background-image: linear-gradient(135deg, #023225 10%, #090515 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .copyright {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--clr-light);
    font-size: small;
  }

  span {
    color: var(--clr-light);
    font-size: 1.8rem;
    margin: 0 10px;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
      color: var(--clr-light);
      font-size: small;
      transition: color 0.3s ease;

      &:hover {
        color: var(--clr-primary-400);
      }
    }

    .active {
      color: var(--clr-primary-400);
      font-weight: 600;
    }
  }

  @media (max-width: 700px) {
    flex-direction: column;

    span {
      display: none;
    }

    .links {
      margin-top: 0.5rem;
    }
  }

  @media (max-width: 700px) {
    .copyright {
      font-size: 0.7rem;
      gap: 0;

      .logo {
        width: 30px;
        height: 30px;
      }
    }

    .links {
      flex-direction: column;
    }
  }
}
