@use "../../../styles/mixins" as *;

.room_cards {
  margin-top: 20px;
  width: 100%;
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(405px, 1fr));
  justify-items: center;
  gap: 2rem 0.2rem;
  padding-bottom: 100px;

  .room_card,
  .room_card_active {
    @include bgColor();
    width: 400px;
    height: 225px;
    border-radius: 10px;
    box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.302);
    transition: all 0.2s ease-in-out;
    border: 1.5px solid var(--clr-light-faded);
    display: flex;
    flex-direction: column;
    position: relative;

    .password_prompt {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(4px);
      z-index: 100;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      input {
        @include input();
        width: 80%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid var(--clr-light-faded);

        &.error {
          border-color: #ff4444;
          background-color: #fff5f5;
        }
      }

      button {
        @include btn();
        margin-top: 10px;
        padding: 5px 10px;
        height: auto;
        background-color: transparent;
        border-color: var(--clr-primary-800);
        color: var(--clr-primary-800);
        font-size: small;
      }

      .close_btn {
        position: absolute;
        top: 10px;
        right: 10px;
        color: var(--clr-danger-800);
        font-size: 1.5rem;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &:hover {
          color: var(--clr-danger-600);
        }
      }

      .error_message {
        color: #ff4444;
        font-size: 0.8rem;
        margin-top: 0.25rem;
        display: block;
      }
    }

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid rgba(128, 128, 128, 0.388);
      padding: 10px;

      h4 {
        color: var(--clr-primary-200);
        font-size: 0.7rem;
      }

      .game_type {
        border: 1px solid var(--clr-light-faded);
        border-radius: 5px;
        padding: 5px 10px;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.302);
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(158, 151, 141);
        font-size: 0.6rem;
        margin-top: 5px;
        margin-left: 5px;

        .dash {
          margin: 0 5px;
        }

        .bett {
          display: flex;
          align-items: center;

          span {
            font-size: 0.5rem;
            margin-top: 1px;
          }

          .coin_img {
            margin-left: 3px;
          }
        }
      }

      .status {
        display: flex;
        align-items: center;

        .icon {
          color: var(--clr-primary-600);
        }

        span {
          color: rgb(160, 160, 160);
          font-size: 0.7rem;
          margin-top: 5px;
          margin-left: 5px;
        }
      }
    }

    .body {
      padding: 20px 10px;
      display: flex;
      justify-content: space-around;

      .user {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        box-shadow: inset 2px 2px 8px black;
        background-color: var(--clr-light-faded);

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }

    footer {
      flex: 1;
      padding: 10px;
      border-top: 1px solid rgba(128, 128, 128, 0.388);
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: var(--clr-primary-800);
        font-size: 0.7rem;

        .chat {
          display: flex;
          align-items: center;
          margin-top: 5px;

          .chat_icon {
            color: var(--clr-primary-600);
            margin-right: 5px;
          }
        }
      }

      .join_btn {
        @include btn();
        padding: 5px 10px;
        height: auto;
        background-color: transparent;
        border-color: var(--clr-primary-800);
        color: var(--clr-primary-800);
        font-size: small;

        &:hover:not(:disabled) {
          background-color: var(--clr-primary-faded);
          color: var(--clr-primary-600);
          border-color: var(--clr-primary-600);
        }

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
          border-color: var(--clr-dark);
          color: rgb(90, 90, 90);
        }
      }

      .btns {
        display: flex;
        align-items: center;
        gap: 20px;

        .rejoin_btn {
          @include btn();
          padding: 5px 10px;
          height: auto;
          background-color: transparent;
          border-color: var(--clr-primary-800);
          color: var(--clr-primary-800);
          font-size: small;
          z-index: 1;

          &:hover {
            background-color: var(--clr-primary-faded);
            color: var(--clr-primary-600);
            border-color: var(--clr-primary-600);
          }
        }

        .leave_btn {
          @include btn();
          padding: 5px 10px;
          height: auto;
          background-color: transparent;
          border-color: var(--clr-danger-800);
          color: var(--clr-danger-800);
          font-size: small;
          z-index: 1;

          &:hover {
            background-color: var(--clr-danger-faded);
            color: var(--clr-danger-600);
            border-color: var(--clr-danger-600);
          }
        }
      }
    }

    &:hover {
      scale: 1.03;
      box-shadow: 2px 3px 15px black;
    }
  }

  .room_card_active {
    // filter: blur(4px);
    border: 6px solid var(--clr-primary-faded);

    &::after {
      content: "Room's Busy...";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(4px);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
      color: var(--clr-primary-200);
      font-weight: bold;
      text-shadow: 2px 2px 8px black;
    }

    &:hover {
      scale: 1.03;
      box-shadow: 2px 3px 15px var(--clr-primary-800-faded);
    }

    footer {
      .btns {
        .leave_btn,
        .rejoin_btn {
          position: relative;
          bottom: 10px;
        }
      }
    }
  }

  @media (max-width: 1020px) {
    .room_card,
    .room_card_active {
      width: 600px;
      height: 300px;

      header {
        h4 {
          font-size: 0.9rem;
        }

        .game_type {
          font-size: 0.8rem;
          margin-top: 0;
          margin-left: 0;

          .dash {
            font-size: 1rem;
          }

          .bett {
            span {
              font-size: 0.6rem;
            }
          }
        }

        .status {
          span {
            font-size: 0.8rem;
            margin-left: 5px;
          }
        }
      }

      .body {
        height: 180px;
        display: flex;
        align-items: center;

        .user {
          width: 100px;
          height: 100px;
        }
      }

      footer {
        flex: 1;
        padding: 10px;
        border-top: 1px solid rgba(128, 128, 128, 0.388);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
          font-size: 0.8rem;
        }
      }
    }
  }

  @media (max-width: 700px) {
    .room_card,
    .room_card_active {
      width: 500px;
    }
  }

  @media (max-width: 600px) {
    .room_card,
    .room_card_active {
      width: 400px;
      height: 200px;

      header {
        h4 {
          font-size: 0.6rem;
        }

        .game_type {
          font-size: 0.6rem;
          padding: 3px 5px;

          .dash {
            font-size: 0.8rem;
          }

          .bett {
            span {
              font-size: 0.5rem;
            }
          }
        }

        .status {
          .icon {
            font-size: 0.8rem;
          }

          span {
            font-size: 0.7rem;
            margin-left: 5px;
          }
        }
      }

      .body {
        height: 100px;
        display: flex;
        align-items: center;

        .user {
          width: 70px;
          height: 70px;
        }
      }

      footer {
        .left {
          font-size: 0.7rem;
        }
      }
    }
  }

  @media (max-width: 450px) {
    .room_card,
    .room_card_active {
      width: 300px;
      height: 200px;

      header {
        h4 {
          font-size: 0.5rem;
        }

        .game_type {
          font-size: 0.5rem;
          padding: 3px 5px;

          .dash {
            font-size: 0.6rem;
          }

          .bett {
            span {
              font-size: 0.5rem;
            }
          }
        }

        .status {
          .icon {
            font-size: 0.7rem;
          }

          span {
            font-size: 0.6rem;
            margin-left: 5px;
          }
        }
      }

      .body {
        height: 100px;
        display: flex;
        align-items: center;

        .user {
          width: 60px;
          height: 60px;
        }
      }

      footer {
        .left {
          font-size: 0.6rem;
        }

        .join_btn {
          padding: 5px;
          border-width: 1px;
          font-size: 0.6rem;
        }

        .btns {
          display: flex;
          align-items: center;
          gap: 20px;

          .rejoin_btn {
            padding: 5px;
            border-width: 1px;
            font-size: 0.6rem;
          }

          .leave_btn {
            padding: 5px;
            border-width: 1px;
            font-size: 0.6rem;
          }
        }
      }
    }
  }
}

.empty_message {
  position: absolute;
  text-align: center;
  color: var(--clr-warning-800);
  font-size: 1.1rem;
  padding-top: 2rem;

  @media (max-width: 500px) {
    font-size: 0.9rem;
    width: 250px;
  }
}
