@use "../../../../styles/mixins" as *;

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .info_verify {
    display: none;
    h1 {
      color: var(--clr-primary-600);
      font-size: clamp(1rem, 4vw, 4rem);
      font-weight: 700;
      margin-bottom: 20px;
      text-align: center;
      width: 80%;
      text-shadow: 2px 2px 5px black;

      span {
        font-size: clamp(1rem, 2.5vw, 2.5rem);
        color: var(--clr-light);
      }
    }

    @media (max-width: 900px) {
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }
  }

  h3 {
    background-color: var(--clr-success-800);
    color: var(--clr-light);
    padding: 10px;
    width: 80%;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 0 5px var(--clr-success-400);
  }

  p {
    color: var(--clr-light);
    text-align: center;
    margin-top: 100px;
  }

  small {
    margin-top: 50px;
    color: var(--clr-primary-200);
  }

  button {
    @include btn();
    margin-top: 10px;
    width: 250px;
    background-color: transparent;
    color: var(--clr-light);
    border-color: var(--clr-primary-800);
  }

  .notice {
    margin-top: 20px;
    text-align: center;

    span {
      display: block;
    }

    .text_one {
      color: var(--clr-warning-200);
      font-size: 0.7rem;

      .icon {
        font-size: large;
      }

      b {
        font-size: 0.8rem;
        color: var(--clr-warning-400);
      }
    }

    .text_two {
      color: var(--clr-light);
      font-size: 0.7rem;
      margin-top: 10px;

      b {
        font-size: 0.8rem;
        color: var(--clr-light);
      }
    }

    .text_three {
      margin-top: 20px;
      color: var(--clr-light);
      font-size: 0.8rem;

      a {
        color: var(--clr-primary-600);
        font-size: 0.9rem;

        &:hover {
          color: var(--clr-primary-400);
        }
      }
    }

    .go_back_wrapper {
      margin-top: 20px;
      cursor: pointer;
      width: 220px;

      .go_back {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease-in-out;

        .icon {
          font-size: 1.5rem;
          color: var(--clr-light);
          transition: all 0.2s ease-in-out;
        }

        span {
          color: var(--clr-light);
          margin-left: 5px;
          transition: all 0.2s ease-in-out;
        }

        &:hover {
          span {
            color: var(--clr-lighter);
            margin-left: 15px;
          }
        }
      }
    }
  }
}
