@use "mixins" as *;

.player_hand {
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  position: absolute;
  bottom: 120%;

  .card,
  .card_faded {
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    & > img {
      pointer-events: none;
      -webkit-user-drag: none;
    }

    @media (max-width: 1200px) {
      & > img {
        pointer-events: none;
      }
    }

    .play_btn {
      position: absolute;
      top: -36px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      padding: 0.2rem 0.8rem;
      border-radius: 5px;
      border: none;
      background: var(--clr-primary-800);
      color: #fff;
      font-size: clamp(0.5rem, 1vw, 0.7rem);
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: 101;
      transition:
        background 0.15s ease,
        transform 0.15s ease;

      &:hover {
        background: var(--clr-primary-600);
        transform: translateX(-50%) scale(1.05);
      }

      &:active {
        transform: translateX(-50%) scale(0.97);
      }

      // @media (max-width: 600px) {
      //   font-size: 0.5rem;
      // }
    }

    @media (max-width: 1200px) {
      &.dragging {
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
        transform: translateY(-10px) scale(1.05);
        z-index: 10;
      }
    }

    @media (max-width: 480px) {
      margin: 0 -8px;
    }
  }

  .card_faded {
    img {
      filter: grayscale(0.8) brightness(60%);
    }
  }

  .selected {
    transform: translate(0);
    transition: transform 0.1s ease;
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.8));
    position: relative;
    cursor: pointer;
    cursor: pointer;
    z-index: 2;
  }

  .playable {
    cursor: grab;

    img {
      filter: grayscale(0) brightness(1);
    }

    @media (hover: hover) {
      &:not(.selected):hover {
        transform: translateY(-15px);
        transition: transform 0.1s ease;
      }
    }
  }

  @media (max-width: 600px) {
  }

  @media (orientation: landscape) and (max-height: 800px) {
    bottom: 120%;
  }

  @media (orientation: landscape) and (max-height: 600px) {
    bottom: 100%;
  }
}
