:root {
  --clr-light: #e1e5f2;
  --clr-lighter: #ffffff;
  --clr-light-faded: #ffffff11;

  --clr-dark: #2a2d34;
  --clr-darker: #000000;
  --clr-dark-faded: #00000011;

  --clr-primary-200: #bfffed;
  --clr-primary-400: #98fbcb;
  --clr-primary-600: #7fcfa8;
  --clr-primary-800: #558b71;
  --clr-primary-faded: #98fbcb11;

  --clr-success-200: #2ef389;
  --clr-success-400: #03d163;
  --clr-success-600: #018e42;
  --clr-success-800: #005c2b;
  --clr-success-faded: #018e4211;

  --clr-warning-200: #ffb95d;
  --clr-warning-400: #ff9a16;
  --clr-warning-600: #d37801;
  --clr-warning-800: #804800;
  --clr-warning-faded: #ff900011;

  --clr-danger-200: #fb7289;
  --clr-danger-400: #e41639;
  --clr-danger-600: #ba0120;
  --clr-danger-800: #670011;
  --clr-danger-faded: #a4031f11;
}
