@use "../../../../styles/mixins" as *;

.game_room {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .close_btn_sm {
    @include btn();

    position: absolute;
    background-color: transparent;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: 1.5px solid var(--clr-danger-800);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .close_icon {
      font-size: 1.3rem;
      color: var(--clr-danger-800);
    }

    &:hover {
      background-color: var(--clr-danger-faded);
      border-color: var(--clr-danger-600);
      transition: all 0.1s ease;

      .close_icon {
        color: var(--clr-danger-600);
        transition: all 0.1s ease;
      }
    }

    &:active {
      background-color: var(--clr-danger-faded);
      border-color: var(--clr-danger-faded);

      .close_icon {
        color: var(--clr-danger-faded);
      }
    }

    &:disabled {
      background-color: transparent;
      border-color: rgb(105, 90, 90);
      cursor: not-allowed;

      .close_icon,
      span {
        color: rgb(105, 90, 90);
        transition: all 0.1s ease;
      }
    }
  }

  .close_btn {
    @include btn();
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: 1.5px solid var(--clr-danger-800);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    cursor: pointer;

    .close_icon {
      font-size: 1.3rem;
      margin-right: 10px;
      color: var(--clr-danger-800);
    }

    span {
      font-weight: bold;
      color: var(--clr-light);
      color: var(--clr-danger-800);
    }

    &:hover {
      background-color: var(--clr-danger-faded);
      border-color: var(--clr-danger-600);
      transition: all 0.1s ease;

      .close_icon,
      span {
        color: var(--clr-danger-600);
        transition: all 0.1s ease;
      }
    }

    &:active {
      background-color: var(--clr-danger-faded);
      border-color: var(--clr-danger-faded);

      .close_icon,
      span {
        color: var(--clr-danger-faded);
      }
    }

    &:disabled {
      background-color: transparent;
      border-color: rgb(105, 90, 90);
      cursor: not-allowed;

      .close_icon,
      span {
        color: rgb(105, 90, 90);
        transition: all 0.1s ease;
      }
    }
  }

  .scoreBoard_btn {
    @include btn();
    position: absolute;
    top: 3%;
    left: 2%;
    height: auto;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-color: var(--clr-warning-800);
    border-width: 1px;

    .scoreBoard_icon {
      font-size: 1.3rem;
      margin-right: 5px;
      color: var(--clr-warning-800);
    }

    span {
      font-size: small;
      color: var(--clr-warning-800);
      font-weight: 200;
    }

    &:hover {
      border-color: var(--clr-warning-600);
      background-color: var(--clr-warning-faded);

      span,
      .scoreBoard_icon {
        color: var(--clr-warning-600);
      }
    }

    &:active {
      border-color: var(--clr-warning-faded);
      background-color: var(--clr-warning-faded);

      span,
      .scoreBoard_icon {
        color: var(--clr-warning-faded);
      }
    }
  }

  .emoji_picker {
    @include btn();
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    .emoji_icon {
      font-size: 2rem;
      color: var(--clr-dark);
      cursor: pointer;
    }

    &:hover {
      transition: all 0.1s ease;

      .emoji_icon {
        font-size: 2.5rem;
        color: var(--clr-darker);
      }
    }

    &:active {
      background-color: var(--clr-primary-faded);
      color: var(--clr-primary-faded);
      transform: scale(0.95);
      transition: all 0.1s ease;
    }
  }

  .emoji_container {
    position: absolute;
    bottom: 80px;
    right: 20px;
    z-index: 100;
  }

  .chat_button {
    @include btn();
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    .chat_icon {
      font-size: 2rem;
      color: var(--clr-dark);
      cursor: pointer;
    }

    .chat_notification {
      position: absolute;
      top: -5px;
      right: -5px;
      background-color: var(--clr-danger-600);
      color: var(--clr-light);
      border-radius: 50%;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        font-size: 0.7rem;
        font-weight: bold;
      }
    }

    &:hover {
      transition: all 0.1s ease;

      .chat_icon {
        font-size: 2.5rem;
        color: var(--clr-darker);
      }
    }

    &:active {
      background-color: var(--clr-primary-faded);
      color: var(--clr-primary-faded);
      transform: scale(0.95);
      transition: all 0.1s ease;
    }
  }
}

/* Large Tablets / Small Desktops */
@media (max-width: 1500px) {
  .game_room {
    .close_btn {
      border-radius: 8px;
      height: 30px;
      width: 130px;
      cursor: pointer;

      .close_icon {
        font-size: 1rem;
      }

      span {
        font-size: 0.6rem;
      }
    }
  }
}

@media (max-width: 1200px) {
  .game_room {
    .scoreBoard_btn {
      border-radius: 50%;
      width: 40px;
      height: 40px;

      .scoreBoard_icon {
        margin: 0;
      }

      span {
        display: none;
      }
    }
  }
}

@media (orientation: landscape) and (max-width: 800px) and (max-height: 800px) {
  .game_room {
    .close_btn_sm {
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
    }
  }
}
